<!--  -->
<h1>
    <%= title %>
</h1>

<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <!-- Account Management Display -->
            <h2 class="account-welcome">Welcome <%= locals.accountData.account_firstname %>
            </h2>
            <p class="account-welcome">You're logged in.</p>
            <a id="edit-info-button" title="Click to Edit account information" href="/account/update">
                <h3>Edit/ Update Account Information</h3>
            </a>

            <div class="review-grid">
                <h3>Your Reviews</h3>
                <section class="review-account">
                    <%- reviews %>
                </section>

            </div>