<!--  -->
<h1>
    <%= title %>
</h1>

<%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form id="deleteForm" action="/inv/delete" method="post">

                <%- classificationSelect %>

                    <p>Confirm Deletion - The delete is permanent.</p>

                    <label for="inv_make">Make:</label>
                    <input type="text" id="inv_make" name="inv_make" readonly value="<%= locals.inv_make %>">

                    <label for="inv_model">Model:</label>
                    <input type="text" id="inv_model" name="inv_model" readonly value="<%= locals.inv_model %>">

                    <label for="inv_year">Year:</label>
                    <input type="number" id="inv_year" name="inv_year" readonly value="<%= locals.inv_year %>"
                        placeholder="2024">

                    <label for="inv_price">Price:</label>
                    <input type="number" id="inv_price" name="inv_price" readonly value="<%= locals.inv_price %>"
                        placeholder="0000">

                    <input id="button" type="submit" name="submit" value="Delete Vehicle">
                    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                        <% } %>>
            </form>